[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytesseract = "*"
pdf2image = "*"
ipykernel = "*"
pillow = "*"
numpy = "*"
pandas = "*"
tensorflow = "*"
nltk = "*"
sklearn = "*"
matplotlib = "*"
yellowbrick = "*"

[dev-packages]

[requires]
python_version = "3.10"
